

# WAN IP Interfaces
set interfaces ge-0/0/6 vlan-tagging
set interfaces ge-0/0/6 description "WAN"
set interfaces ge-0/0/6 mtu 1518
set interfaces ge-0/0/6 vlan-tagging
set interfaces ge-0/0/6 description "WAN"
set interfaces ge-0/0/6 unit [PRI_WAN_VLAN] vlan-id [PRI_WAN_VLAN] description "msr1.th1 via TalkTalk - [CIRCUIT_REF]"
set interfaces ge-0/0/6 unit [PRI_WAN_VLAN] vlan-id [PRI_WAN_VLAN] family inet address [PRI_WAN_IP]/31
set interfaces ge-0/0/6 unit [SEC_WAN_VLAN] vlan-id [SEC_WAN_VLAN] description "msr2.tc1 via TalkTalk - [CIRCUIT_REF]"
set interfaces ge-0/0/6 unit [SEC_WAN_VLAN] vlan-id [SEC_WAN_VLAN] family inet address [SEC_WAN_IP]/31

# WAN Routing
set routing-options autonomous-system [ASN]
set routing-options autonomous-system asdot-notation
set protocols bgp precision-timers
set protocols bgp hold-time 30
set protocols bgp group RM type external
set protocols bgp group RM import RM-IMPORT
set protocols bgp group RM export RM-EXPORT
set protocols bgp group RM multipath
set protocols bgp group RM neighbor [PRI_WAN_IP_CORE] authentication-key GG89dchsw7wegfw77777wqhhn
set protocols bgp group RM neighbor [PRI_WAN_IP_CORE] peer-as 5503
set protocols bgp group RM neighbor [SEC_WAN_IP_CORE] authentication-key GG89dchsw7wegfw77777wqhhn
set protocols bgp group RM neighbor [SEC_WAN_IP_CORE] peer-as 5503
set policy-options policy-statement RM-EXPORT term INTERFACES from protocol direct
set policy-options policy-statement RM-EXPORT term INTERFACES from interface lo0.0
set policy-options policy-statement RM-EXPORT term INTERFACES then accept
set policy-options policy-statement RM-EXPORT term REJECT then reject
set policy-options policy-statement RM-IMPORT term BGP-DEFAULT from protocol bgp
set policy-options policy-statement RM-IMPORT term BGP-DEFAULT from route-filter 0.0.0.0/0 exact
set policy-options policy-statement RM-IMPORT term BGP-DEFAULT then accept
set policy-options policy-statement RM-IMPORT term REJECT then reject

# LAN Interface
set interfaces ge-0/0/0 unit 0 description "LAN - Curric"
set interfaces ge-0/0/0 unit 0 family inet address [LAN_1_GATEWAY_CIDR]

# BCP38
set interfaces ge-0/0/0 unit 0 family inet rpf-check fail-filter rpf-special-case-dhcp-bootp

# Loopback Interface
set interfaces lo0 unit 0 family inet address [LOOPBACK]/32

# Disable unused interfaces
set interfaces ge-0/0/1 disable
set interfaces ge-0/0/2 disable
set interfaces ge-0/0/3 disable
set interfaces ge-0/0/4 disable
set interfaces ge-0/0/5 disable
set interfaces ge-0/0/7 disable

# Create new Security Zones
set security zones security-zone WAN interfaces ge-0/0/6.[PRI_WAN_VLAN]
set security zones security-zone WAN interfaces ge-0/0/6.[SEC_WAN_VLAN]
set security zones security-zone LAN interfaces ge-0/0/0

# Create new Security Policy
set security address-book global address LAN-1-NET [LAN_1_NETWORK_CIDR]
set security policies from-zone LAN to-zone WAN policy P1 match source-address LAN-1-NET
set security policies from-zone LAN to-zone WAN policy P1 match destination-address any
set security policies from-zone LAN to-zone WAN policy P1 match application any
set security policies from-zone LAN to-zone WAN policy P1 then permit
set security policies from-zone WAN to-zone LAN policy P1 match source-address any
set security policies from-zone WAN to-zone LAN policy P1 match destination-address LAN-1-NET
set security policies from-zone WAN to-zone LAN policy P1 match application any
set security policies from-zone WAN to-zone LAN policy P1 then permit
set security policies default-policy permit-all

# Permit inbound traffic from WAN and LAN to the router
set security zones security-zone LAN interfaces ge-0/0/0 host-inbound-traffic system-services ping
set security zones security-zone WAN interfaces ge-0/0/6.[PRI_WAN_VLAN] host-inbound-traffic system-services ping
set security zones security-zone WAN interfaces ge-0/0/6.[PRI_WAN_VLAN] host-inbound-traffic system-services ssh
set security zones security-zone WAN interfaces ge-0/0/6.[PRI_WAN_VLAN] host-inbound-traffic system-services https
set security zones security-zone WAN interfaces ge-0/0/6.[PRI_WAN_VLAN] host-inbound-traffic system-services snmp
set security zones security-zone WAN interfaces ge-0/0/6.[PRI_WAN_VLAN] host-inbound-traffic protocols bgp
set security zones security-zone WAN interfaces ge-0/0/6.[SEC_WAN_VLAN] host-inbound-traffic system-services ping
set security zones security-zone WAN interfaces ge-0/0/6.[SEC_WAN_VLAN] host-inbound-traffic system-services ssh
set security zones security-zone WAN interfaces ge-0/0/6.[SEC_WAN_VLAN] host-inbound-traffic system-services https
set security zones security-zone WAN interfaces ge-0/0/6.[SEC_WAN_VLAN] host-inbound-traffic system-services snmp
set security zones security-zone WAN interfaces ge-0/0/6.[SEC_WAN_VLAN] host-inbound-traffic protocols bgp
set security zones security-zone LAN interfaces lo0.0 host-inbound-traffic system-services ping
set security zones security-zone LAN interfaces lo0.0 host-inbound-traffic system-services ssh
set security zones security-zone LAN interfaces lo0.0 host-inbound-traffic system-services https
set security zones security-zone LAN interfaces lo0.0 host-inbound-traffic system-services http
set security zones security-zone LAN interfaces lo0.0 host-inbound-traffic system-services snmp

# NAT Configurations
set interfaces lo0 unit 0 family inet address [LOOPBACK_PUBLIC_IP_CIDR]
set security nat source pool HIDE-NAT address [LOOPBACK_PUBLIC_IP_CIDR]
set security nat source rule-set LAN-TO-WAN from zone LAN
set security nat source rule-set LAN-TO-WAN to zone WAN
set security nat source rule-set LAN-TO-WAN rule source-nat-rule match source-address [LAN_1_NETWORK_CIDR]
set security nat source rule-set LAN-TO-WAN rule source-nat-rule then source-nat pool HIDE-NAT