# < ------------ Start of Information Only - Do not apply  ------------>

# {{hardware_make}} Template
# Template Generated
# From jinja2 file: {{jinja2_template_name}}
# On: {{date_time}}
# By: {{engineer_name}}

# For Device: {{hardware_model}}
# Template name: {{template_name}}
# Template has superseded: {{previous_template_name}}

# Template specific information
# Telco: {{telco_name}}
# Circuit Name: {{circuit_name}}
# Bandwidth: {{bandwidth}}
# Routing Protocol: {{routing}}
# Connection Type: {{connection_type}}
# Number of Customer LANs Supported: {{customer_lans}}
# Number of Static Routes supported: {{customer_static_routes}}
# Out of Scope Configuration: {{out_of_scope}}

# < ------------ End of Information Only - Do not apply  ------------>

# < ------------ configuration start ------------>


afasfafasfasfa

# < ------------ configuration end ------------>